<html>

<head>
    <meta charset="utf-8" />
    <script src="lib/vue2/vue.js"></script>
    <link href="lib/element-ui/index.css" rel="stylesheet">
    <script src="lib/element-ui/index.js"></script>
    <script src="lib/axios.js"></script>
</head>

<body>
    <style>
    </style>

    <div id="app">
        <h1>POST调试</h1>

        <div>
            地址：
            <el-input v-model="post_url"></el-input>
        </div>

        <div>
            Content-Type:
            <el-radio-group v-model="content_type">
                <el-radio label="application/json">application/json</el-radio>
                <el-radio label="text/plain">text/plain</el-radio>
            </el-radio-group>
        </div>

        <div>
            Payload:
            <el-input type="textarea" :autosize="{minRows: 10}" v-model="payload">
            </el-input>
        </div>

        <el-button type="primary" @click="send">发送</el-button>

        <div>
            Result:
            <el-input type="textarea" :autosize="{minRows: 3}" v-model="result">
            </el-input>
        </div>

    </div>

    <script>
        new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data: {
                post_url: `${location.origin}/api/`,
                content_type: "application/json",
                payload: "",
                result: "",
            },
            computed: {
            },
            methods: {
                send: function () {
                    var self = this;
                    var headers = { headers: { "Content-Type": self.content_type } };
                    axios.post(self.post_url, self.payload, headers)
                        .then(function (response) {
                            console.log(response);
                            self.result = response.data;
                        }).catch(function (error) {
                            console.log(error);
                            self.result = error;
                        });
                }
            },
        });
    </script>
</body>

</html>